/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Roboto;
  letter-spacing: 0.03em;
  list-style: none;
}

.container {
  outline: solid red;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

section {
  animation-name: section-invisible;
  animation-duration: 7000ms;
  animation-iteration-count: 1;
  opacity: 1;
}

*:focus {
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/*header*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: solid #ececec;
}
.header__title1 {
  font-family: Raleway;
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
}
.header__title2 {
  font-family: Raleway;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
}
.header__link:focus, .header__link:hover {
  outline: none;
  color: #2196f3;
}
.header__contact:focus, .header__contact:hover {
  outline: none;
  color: #2196f3;
}
.header__container {
  display: flex;
  max-width: 480px;
  height: 60px;
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}
.header__link {
  /* transition-timing-function: cubic-bezier(1, 0.99, 0, -0.01); */
  transition-duration: 250ms;
  transition-property: color;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.header__link::after {
  width: 100%;
  content: "";
  height: 4px;
  opacity: 0;
  position: absolute;
  top: 48px;
  transition-duration: 400ms;
  transition-delay: 0s;
  background-color: #2196f3;
  border-radius: 2px;
  display: block;
}
.header__link:hover::after {
  opacity: 1;
  /* transform: scaleX(1); */
}
.header__contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__invisible-box {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__invisible-box {
    display: block;
  }
}
.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__navigation {
  margin-right: 344px;
  margin-left: auto;
}
.header__pictures {
  width: 10px;
  height: 16px;
  transition-duration: 250ms;
  transition-property: fill;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
  margin-right: 10px;
}
.header__contact:hover {
  color: #2196f3;
}
.header__item:hover .header__pictures {
  fill: #2196f3;
}
.header__picture {
  width: 16px;
  height: 12px;
}
.header__container .header__list .header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header__contact {
  transition-duration: 250ms;
  transition-property: color;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__burger-menu {
  display: block;
}
@media screen and (min-width: 768px) {
  .header__burger-menu {
    display: none;
  }
}
.header__links {
  display: flex;
  flex-wrap: nowrap;
}
.header__burger-menu {
  width: 40px;
  height: 40px;
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .header__burger-menu {
    opacity: 0;
  }
}
.header__deletion {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .header__deletion {
    opacity: 0;
    position: absolute;
  }
}

/* .line{
    margin-top: 28px;
    width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--WebStudio-color);
  } */
.portfolio {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: go-box;
  animation-duration: 4000ms;
  animation-iteration-count: 1;
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.portfolio__title {
  font-family: Roboto;
  color: #000;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.38;
  /* animation-name: run-title;
  animation-duration: 4000ms;
  animation-iteration-count: 1; */
  opacity: 1;
}

/* .portfolio-title2{
  font-family: Roboto;
  color: var(--text-color);
  font-size: 100px;
  font-weight: 700;
  line-height: 1.38;
  animation-name: run-title2;
  animation-duration: 4000ms;
  animation-iteration-count: 1;
}

@keyframes run-title2{
  0%{
    opacity: 0;
    transform: translate(-700px, 0px);
  }

  50%{
    opacity: 1;

    transform: translate(0px, 0px);
  }

  100%{
    opacity: 0;
    transform: translate(700px, 0px);
  }
} */
*:focus {
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.about {
  padding-top: 94px;
  padding-bottom: 25px;
}
.about__list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.about__button {
  transition-duration: 250ms;
  transition-property: color, box-shadaw;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  width: 130px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
  background: #f5f4fa;
}
.about__button:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.about__button:focus {
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.hero {
  padding-top: 25px;
  padding-bottom: 94px;
  flex-direction: row-reverse;
  /* @keyframes text-box{

  0%{
    opacity: 0;
  }

  25%{
    opacity: 0.25;
    transform: translate(-0px, -20px);
  }

  50%{
    opacity: 0.5;
    transform: translate(-0px, -50px);
  }

  75%{
    opacity: 0.75;
    transform: translate(-0px, -75px);
  }

  100%{
    opacity: 1;
    transform: translate(-0px, -110px);
  }

  } */
}
.hero__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.hero__article {
  margin-right: auto;
  height: 384px;
  position: relative;
  background-color: #fff;
}
.hero__img {
  margin-bottom: 20px;
}
.hero__subtext {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
}
.hero__box-text {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform-origin: bottom;
  position: absolute;
  top: 110px;
  right: 0;
  left: 0;
  height: 294px;
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  /* animation-name: text-box;
  animation-duration: 400ms;
  animation-iteration-count: 1; */
}
.hero__item:hover .hero__box-text {
  /* animation-name: text-box;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  opacity: 1;
  top: 0; */
  opacity: 1;
  transform: translate(0px, -110px);
}
.hero__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
}
.hero__item:focus {
  border-color: #2196f3;
  border-radius: 2px;
}
.hero__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  margin-top: 4px;
  margin-left: 24px;
}
.hero__item {
  padding-bottom: 20px;
  /* width: 370px; */
  /* flex-basis: calc((100% - (2 * 30px)) / 3); */
  flex-basis: calc(33.3333333333% - 30px);
  border: 1px solid #eee;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}
.hero__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.corobka {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 100px;
  overflow: hidden;
  z-index: 2;
}

img {
  display: block;
  width: 100%;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  /*&__pictures-link:focus {
    background-color: var(--WebStudio-color);
    fill: var(--background-color);
  } */
}
.footer__title1 {
  color: #2196f3;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
}
@media screen and (min-width: 1200px) {
  .footer__title1 {
    font-size: 26px;
  }
}
.footer__title2 {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
}
@media screen and (min-width: 1200px) {
  .footer__title2 {
    font-size: 26px;
  }
}
.footer__text {
  width: 232px;
  height: 21px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0 40px;
}
.footer__item {
  margin-top: 9px;
}
.footer__link {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.footer__address {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-top: 20px;
}
.footer__pictures-container {
  text-align: center;
}
.footer__pictures-container2 {
  margin-top: 60px;
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
.footer__container {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}
.footer__pictures-item {
  transition-duration: 250ms;
  transition-property: #fff;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  flex-shrink: 0;
}
.footer__pictures-item:hover {
  background-color: #2196f3;
}
.footer__pectures {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer__picture-list {
  display: flex;
}
.footer__pictures-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__pictures-link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  padding: 12px;
}

.sing-up {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .sing-up {
    margin-left: 93px;
  }
}
.sing-up__push-container {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.sing-up__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sing-up__titele {
  margin-bottom: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.sing-up__table {
  margin-right: 12px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.sing-up__button {
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.sing-up__picture {
  width: 24px;
  height: 24px;
}
.sing-up__text {
  margin-right: 10px;
  /* color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px; */
}/*# sourceMappingURL=portfolio.css.map */