body {
    font-family: Roboto;
    letter-spacing: 0.03em;
    list-style: none;
  }
  
  .container {
    @media screen and (min-width: 1200px) {
      outline: solid red; 
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
     }
 
    @media screen and (min-width: 480px) {
     width: 480px;
    
    }
  }
  
  section{
    animation-name: section-invisible;
    animation-duration: 7000ms;
    animation-iteration-count: 1;
    opacity: 1;
  }
  
  *:focus {
    outline: none;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  @media screen and (min-width: 1200px) {
  
   }