
   $accent-color: #212121;
   $text-color: #000;
   $background-color: #fff;
   $additional-text-color: #757575;
   $background-color2: #2f303a;
   $button-background: #f5f4fa;
   $webStudio-color: #2196f3;
   $companys-color: #afb1b8;
   $line-color: #ececec;
