.company{

  &__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  &__titel {
    color: $accent-color;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  &__item {
    width: 170px;
    @include flex-box();
    height: 92px;
    border-radius: 4px;
    border: 1px solid $companys-color;

  }
  
  &__item:hover {
    border: 1px solid $webstudio-color;
  }
  
  &__item:hover &__picture {
    fill: $webstudio-color;
  }
  
  &__picture {
    transition-duration: 250ms;
    transition-property: fill, border;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1); 
    fill: $companys-color;
    width: 106px;
    height: 60px;
  }
  
  &__item:focus .compan-link {
    fill: $webstudio-color;
    border: 1px solid $webstudio-color;
  }
  
  .compan-link:focus &__picture {
    fill: $webstudio-color;
  }

}

