.main {
    padding-top: 94px;
    padding-bottom: 59px;
    max-width: 450px;
    @media screen and (min-width: 1200px) {
  width: 1200px;
    }


  
  &__list {
    display: flex;
    gap: 30px;
    display: block;
    max-width: 450px;
    @media screen and (min-width: 1200px) {
      
     width: 1200px;
        flex-wrap: wrap;
      
    }
  }
  
  &__title {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
   
    }
  } 

 
  &__item{
    max-width: 450px; 
    flex-basis: calc((100% / 1) - 30px);
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% / 2) - 30px);
    }
  }

  &__list &__item::before {
   
   
    height: 120px;
    padding: 25px 100px;
    background-color: $button-background;
    margin-bottom: 30px;
    border-radius: 4px;
    max-width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
     
    }
  }
  
  &__list &__item:first-child::before {
    content: url(../images/antenna1.jpg);
  }
  
  &__list &__item:nth-child(2)::before {
    content: url(../images/clock1.jpg);
  }
  
  &__list &__item:nth-child(3)::before {
    content: url(../../../images/computer-2.png);
  }
  
  &__list &__item:last-child::before {
    content: url(../images/astronaut1.jpg);
  }
  
  &__text {
    color: $additional-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
}