.team {
  padding-top: 0px;
  padding-bottom: 0px;
  
    // opacity: 0;
    width: 0px;
    height: 0px;
    // padding-top: 0px;
    // padding-bottom: 0px;
  //  position: absolute;
   display: none;
    @media screen and (min-width: 1200px) {
  // position: relative;
  padding-top: 59px;
  padding-bottom: 94px;

    }
   
   
  
  &__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  &__title1 {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
  }
  
  &__item {
    position: relative;
    width: 370px;
    height: 294px;
  }
  
  &__logo {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
  }
  
  &__container {
    top: 224px;
    position: absolute;
    @include flex-box();
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
  }
  
  &__text {
    color: $background-color;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
}